{% extends 'shop_page/main.html' %}
{% load static %}
{% block content %}
<style>
.thumbnail {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 250px;
    background-color: white;
    object-fit: contain;
}
</style>
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.image_url}}">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block;float: right">{{ product.price|floatformat:2 }}₴</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}